* {
    overflow   : hidden;
    position   : relative;
    box-sizing : border-box;
}

html,
body {
    -webkit-text-size-adjust : 100%;
    height                   : 100%;
}

body {
    margin     : 0;
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    min-height : 100%;
}

.main-wrapper {
    height : 100%;
}

.double-width {
    width: 200%;
}

.navigation {
    background : white;
    color      : black;
    position   : fixed;
    top        : 0;
    left       : 0;
    right      : 0;
    z-index    : 1;
    height     : 70px;
}

.navigation ul {
    margin  : 0;
    padding : 0;
}

.navigation * {
    overflow : visible;
}

.navigation > ul li {
    display  : inline-block;
    position : relative;
    padding  : 5px 20px;
}

.navigation li ul {
    position : absolute;
    left     : 0;
    right    : -400%;
}

.page-element {
    height      : 100%;
    width       : 100%;
    position    : absolute;
    padding-top : 70px;

    animation-duration         : 0.75s;
    -webkit-animation-duration : 0.75s;
}

.slide-left .page-element {
    animation-name         : slideOutLeft;
    -webkit-animation-name : slideOutLeft;
}

.slide-right .page-element {
    animation-name         : slideOutRight;
    -webkit-animation-name : slideOutRight;
}

.slide-down .page-element {
    animation-name         : slideOutDown;
    -webkit-animation-name : slideOutDown;
}

.slide-up .page-element {
    animation-name         : slideOutUp;
    -webkit-animation-name : slideOutUp;
}

.page-1 {
    background : teal;
    color      : white;
}

.page-2 {
    background : gold;
    color      : brown;
}

.page-3 {
    background : silver;
    color      : darkslategray;
}
